<div>
    <header class="header-7 ">
        <div class="tabs-container">
            <clr-tabs>
                <clr-tab>
                    <button clrTabLink><cds-icon class="px-4" shape="map"></cds-icon> GRID VIEW </button>
                    <clr-tab-content *clrIfActive><app-org-chart-grid [employees]="(employees$ | async) || []"
                            (addReportee)="openModal(MODALTYPE.AddReportee,$event)"
                            (deleteEmployee)="openModal(MODALTYPE.DeleteReportee, $event)"
                            (changeReportingLine)="openModal(MODALTYPE.ChangeReporting, $event)"></app-org-chart-grid>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink> <cds-icon shape="grid-chart" size="20"></cds-icon> GRAPH VIEW </button>
                    <clr-tab-content *clrIfActive><app-org-chart-graph /></clr-tab-content>
                </clr-tab>
            </clr-tabs>
        </div>
    </header>
</div>

<app-add-reportee *ngIf="showAddReporteeDialog" [managerDetails]="selectedEmployee"
    (modalClose)="modalClose($event)"></app-add-reportee>
<app-delete-employee *ngIf="showDeleteEmployeeDialog" [employee]="selectedEmployee"
    (modalClose)="modalClose($event)"></app-delete-employee>
<app-change-reporting *ngIf="showChangeReportingDialog" [employee]="selectedEmployee"
     [managers]="(managers$ | async) || []"
    (modalClose)="modalClose($event)"></app-change-reporting>