<clr-modal [(clrModalOpen)]="showDialog" [clrModalClosable]="false">
    <h3 class="modal-title">Delete Employee</h3>
    <div class="modal-body">
        <p class="clr-text-gray">
            Deleting this employee will reassign their direct reportees to the employee's
            manager.Confirm this action to remove the employee from the organization
            chart and update the reporting hierarchy accordingly.
        </p>
        <div class="clr-row">
            <div class="clr-col-12 clr-col-md-6 label-field">
                <label>Employee Name</label>
            </div>
            <div class="clr-col-12 clr-col-md-6">
                <clr-input-container>
                    <input clrInput [value]="employee?.name" disabled />
                </clr-input-container>
            </div>
        </div>

        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button> -->
            <!-- <button type="submit" [disabled]="addEmployeeForm.invalid" class="btn btn-primary">Ok</button> -->
        </div>
    </div>
</clr-modal>